@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
* {
    font-family: 'Lato', sans-serif;

}
body {
    padding: 0;
    margin: 0;
}
#logo {
    max-width: 100%;
    height: 4rem;


}
.result {
    width: 60vw;
}
.result h3 {
    text-align: center;
}
.coupleText {
    font-family: 'Fuggles', cursive;
    font-size: 4rem;
}
nav a {
    text-decoration: none;
    color: white;
    margin: 0rem 2rem;
    font-weight: 600;



}
nav a:hover {
    color: #772c54;
}
nav {
    display: flex;
    justify-content: center;
    flex: 1;

}
header {
    background-color: #f089c0;
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
    height: 10vh;
    margin: 0;
    box-shadow: 1px 9px 12px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 9px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 9px 12px -4px rgba(0,0,0,0.75);}
main {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-flow: column;
    color: #050505;

}

.matched {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#emptyHeart {
    width: 400px;


}
#heartRight {
    fill:#FF6647;

}
#heartLeft {
    fill: #E35336;
}
.heartText {
    font-size: 10rem;
    font-weight: 600;
}
footer {
    background-color: #050505;
    height: 10vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    margin: 0;
}


/* Couples Page  */

.coupleList {
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: center;
}


.coupleList table {
    width: 50%;
    text-align: left;
    border: 1px solid black;
}
table td, table th {
    padding:2rem;
}
table th {
    font-size: larger;
    color: #E35336 ;
    text-transform: capitalize;
}
table tr :nth-child(odd) {
    background-color: rgb(233, 233, 233);
}
